
.cart-items{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
  border-radius: .5rem;
  overflow: hidden;
  margin-block: 2rem;
}

.cart-header{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-header > button{
  height: 2.5rem;
  background: rgb(214, 214, 214);
  color: rgb(47, 47, 47);
  border: none;
  border-radius: .3rem;
  padding-inline: 1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.cart-header h2{
  color: rgb(50, 51, 61);
}



.cart-list p{
  color: rgb(115, 117, 134);
  font-size: .875rem;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.cart-item:not(:last-child){
  border-bottom: 1px solid rgb(226, 226, 226);
}


.cart-item button{
  height: 2rem;
  width: 2rem;
  border-radius: .3rem;
  border: 1px solid grey;
  cursor: pointer;
  color: white;
  background: rgb(142, 140, 231);
}

.cart-item-img{
  width: 5rem;
}

.cart-item-detail{
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 900px){
  .cart-item,
  .cart-item-detail{
    flex-direction: column;
  }
  
  .cart-item button{
    height: 2rem;
    width: 100%;
    margin-top: 2rem;
  }
}