.container.cart{
  display: flex;
  flex-direction: column;
}

.cart-header{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-items-wrapper{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 360px;
  gap: 2rem;
  animation: 300ms animation2 ease-in;
}

@media (max-width: 968px){
  .cart-items-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.cart-items{
  height: max-content;
  background: white;
  border-radius: .3rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid rgb(221, 221, 221);
  overflow: hidden;
}

.cart-item{
  /*border: 1px solid green;*/
  display: flex;
  align-items: center;
  position: relative;
}

.cart-item-detail{
  /*border: 1px solid red;*/
  display: flex;
  padding-left: 2rem;
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.cart-item-detail .count-container{
  min-width: 8rem;
}



.cart-item-img{
  height: 8rem;
  width: 8rem;
  padding: 1rem;
  object-fit: contain;
  background: rgb(243, 244, 246);
  border-radius: .3rem;
  align-self: flex-start;
}

.btn-delete{
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  padding: 0;
  background: none;
  font-size: 2rem;
  color: var(--font-primary);
  margin-left: .5rem;
}

.cart-item-title{
  text-overflow: ellipsis;
  color: #2e2e35;
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
  margin-bottom: .2rem;
  max-width: 40ch;
}

.cart-item-price{
  display: inline-block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--clr-primary);
}

.cart-item-qty{
  display: inline-block;
  margin-left: .5rem;
  color: var(--font-secondary);
  font-size: var(--small-font-size);
}

.cart-summary{
  padding: 1.5rem;
  border-radius: .3rem;
  height: max-content;
  background: white;
  border: 1px solid rgb(221, 221, 221);
}

.cart-summary > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
}

.cart-summary span{
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size)
}

.cart-summary p{
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
  color: var(--font-secondary);
}

.cart-summary a{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: .5rem;
  font-weight: var(--font-bold);
  color: var(--clr-primary);
}

.cart-summary .cart-btn{
  height: 2.5rem;
  background: var(--clr-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3rem;
}

.empty-cart{
  flex: 1;
  display: grid;
  place-content: center;
  text-align: center;
  animation: 1s animation1 ease-in;
}

.empty-cart h2{ 
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: rgb(73, 73, 73);
  flex: 1;
  display: grid;
  place-content: center;
  text-align: center;
}

.empty-cart a{ 
  display: block;
  width: max-content;
  justify-self: center;
  padding: .5rem .7rem;
  border-radius: .3rem;
  color: var(--clr-primary);
  font-weight: var(--font-bold);
}

.empty-cart a:hover{ 
  background: rgb(236, 245, 238);
}

.empty-cart span{
  justify-self: center;
  border-radius: .3rem; 
  margin-bottom: 2rem;
  background: rgb(255, 219, 219);
  color: rgb(207, 59, 59);
  width: 4rem;
  display: grid;
  place-content: center;
  height: 4rem;
  font-size: 2.5rem;
}

.cart-item-qty-input{
  height: 2.5rem;
  border-radius: .3rem;
  border: 1px solid grey;
  outline: none;
  padding-inline: .5rem;
}

.cart-item-qty-input::selection{
  border: 1px solid rgb(53, 131, 89);
}



@media (max-width: 480px){
  .cart-items-wrapper{
    animation: none;
  }

  .cart-items{
    padding: 0;
    border: none;
    gap: 1rem;
    animation: 500ms animation2 ease-in;
    overflow: visible;
    background: none;
    margin-bottom: 10rem;
  }

  .cart-item{
    padding: .5rem;
    border-radius: .3rem;
    background: white;
    padding-bottom: 3rem;
  }

  .cart-item-detail{
    padding: .5rem; 
    flex: 1;
    width: 100%;
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-detail .count-container{
    width: 8rem;
    height: 2rem;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
  }
  .cart-item-detail div{
    max-width: 5;
  }

  .cart-item-title{
    font-size: var(--h2-font-size);
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .cart-item-img{
    height: 5rem;
    width: 5rem;
  }

  .btn-delete{
    font-size: 1.75rem;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
  }

  .cart-summary{
    position: fixed;
    padding-block: 1.5rem;
    padding-inline: 5vw;
    width: 100vw;
    border-radius: .3rem;
    height: max-content;
    align-self: end;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    text-align: center;
  }

  .cart-summary .cart-btn{
    height: 3.5rem;
  }
  
  .cart .btn.icon-btn{
    font-size: 0;
    gap: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
}
