
.item-detail-img{
  display: grid;
  place-content: center;
  background: rgba(212, 213, 218, 0.24);
  border: 1px solid rgb(197, 201, 206);
  border-radius: .5rem;
  height: auto;
}

.item-detail-info{
  align-self: center;
}

.item-detail-category{
  display: inline-block;
  background: rgb(238, 238, 238);
  color: white;
  padding: .2rem .4rem;
  border-radius: .3rem;
  margin-bottom: .3rem;
}

.item-detail-category.notebooks{
  background: rgb(96, 79, 192);
  color: white;
}

.item-detail-category.componentes{
  background: rgb(96, 192, 79);
  color: white;
}

.item-detail-category.perifericos{
  background: rgb(79, 132, 192);
  color: white;
}

.item-detail-info h2{
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: rgb(23, 28, 41);
}

.item-detail-info p{
  color: rgb(117, 124, 144);
  margin-bottom: 1rem;
  line-height: 2;
}


.item-detail-price{
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color:rgb(51, 70, 180);
  margin-bottom: 2rem;
}

.item-detail-stock{
  display: block;
  color: grey;
  margin-bottom: .5rem;
}

.to-cart-btn,
.to-home-btn{
  height: 2.5rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .3px;
  font-size: 1rem;
  line-height: 1rem;
  padding-inline: 1.5rem;
  font-weight: bold;
  background: rgb(34, 62, 156);
  border-radius: .3rem;
  border: 2px transparent;
  cursor: pointer;
  color:rgb(238, 238, 238);
}

.to-home-btn{
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .item-detail{
    grid-template-columns: 1fr;
  }
  .item-detail-img{
    justify-self: center;
    width: 100%;
   }
}