.item-detail{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .item-detail{
    grid-template-columns: 1fr;
  }
}