.item{
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  /*min-height: 22rem;*/
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  overflow: hidden;
}

.item:hover{
  box-shadow:
  0.1px 1.6px 2.7px rgba(0, 0, 0, 0.025),
  0.2px 4px 6.9px rgba(0, 0, 0, 0.035),
  0.4px 8.2px 14.2px rgba(0, 0, 0, 0.045),
  0.7px 16.8px 29.2px rgba(0, 0, 0, 0.055),
  2px 46px 80px rgba(0, 0, 0, 0.08)
;
  border-color: transparent
}

.item-img{
  width: 100%;
  height: auto;
  min-height: 18rem;
  object-fit: cover;
  border-bottom: 1px solid #f4f4f4;
}

.item-desc{
  width: 100%;
  padding: 1rem;
  text-align: start;
}