html{
  color:rgb(36, 39, 53);
}

nav{
  height: 4rem;
  position: relative;
  width: 100;
  background: white;
  border: 1px solid #ececec;
}

.nav-container{
  width: min(1200px, 90vw);
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  display: flex;
  height: 2rem;
  border-radius: .3rem;
  font-size: 1rem;
  line-height: 1rem; 
  overflow: hidden;
  color: grey;
}

.nav-links li a {
  padding: .5rem 1rem;  
  -webkit-tap-highlight-color: transparent; 
}

.nav-links li a:hover {
  background: rgb(250, 250, 250);
}


.nav-links li > a.active {
  color: #000;
  font-weight: 600;
}

.nav-buttons{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-btn{
  height: 2rem;
  width: 2rem;
  display: grid;
  place-content: center;
  font-size: 1rem;
  border-radius: .3rem;
  border: none;
  cursor: pointer;
  background: rgb(234, 235, 238);
  user-select: none;
  position: relative;
}

.nav-btn:active{
  transform: translateY(1px);
}

.nav-btn.toggle-btn{
  display: none;
}

@media screen and (max-width: 620px) {
  .nav-links{
    position: absolute;
    top: 99%;
    margin-top: 1rem;
    width: 90vw;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin-inline: auto;
    border-radius: .3rem;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in;
    box-shadow:
    0px 4.3px 1.7px rgba(0, 0, 0, 0.01),
    0px 12px 4.6px rgba(0, 0, 0, 0.015),
    0px 28.9px 11.2px rgba(0, 0, 0, 0.02),
    0px 96px 37px rgba(0, 0, 0, 0.03)
  ;
  }
  .nav-links li{
    height: 3.5rem;
  }
 
  .nav-links li > a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 1.12rem;
    border: 1px solid rgb(246, 246, 246);
    overflow: hidden;
    border-radius: .3rem;
  }

  .nav-btn.toggle-btn{
    display: grid;
  }
}

.nav-links.active{
  opacity: 1;
  visibility: visible;
}

.user{
  height: 2rem;
  width: 2rem;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  border: 1px solid rgb(211, 211, 211);
  overflow: hidden;
}