@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: rgb(250, 250, 250);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  width: min(1200px, 90vw);
  margin-inline: auto;
  min-height: calc(100vh - 4rem);
  padding-block: 1rem 4rem;
}

