@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
  --clr-primary: rgb(79, 81, 228);
  --bg-clr: rgb(250, 250, 250);

  --font-primary: rgb(0, 0, 0);
  --font-secondary: rgb(100, 101, 119);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-clr)
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  width: min(1200px, 90vw);
  margin-inline: auto;
  min-height: calc(100vh - 4rem);
  padding-block: 1rem 4rem;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  padding-inline: 1.5rem;
  border-radius: .3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

.btn-span{
  width: 100%;
}