
.count-container{
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  width: 10rem;
  height: 2.5rem;
  border: 1px solid rgb(179, 179, 179);
  border-radius: .3rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.control-btn{
  height: 100%;
  background: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  font-size: 1rem;
  outline: none;
  color: rgb(72, 104, 179);
  border: none;
  cursor: pointer;
}

.control-btn:hover{
  background: rgb(248, 246, 246);
}

.item-btn{
  display: inline-flex;
  height: 2.5rem;
  border-radius: .3px;
  font-size: 1rem;
  line-height: 1rem;
  padding-inline: 1.5rem;
  font-weight: bold;
  background: var(--clr-primary);
  border-radius: .3rem;
  border: 2px transparent;
  cursor: pointer;
  color:rgb(238, 238, 238);
  align-items: center;
  justify-content: center;
}


.control-btn:disabled,
.item-btn:disabled{
  background: rgb(236, 236, 236);
  color: rgb(173, 173, 173);
  cursor: not-allowed;  
  border: none;
}

@media screen and (max-width: 1024px) {
  .count-container{
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .count-container{
    width: 100%;
  }
}